@model secret_adventure.Models.Entidade[,]
@{
    ViewBag.Title = "Ambiente";
}

<h2>Ambiente</h2>
<p>
    <button class="btn btn-success " id="mover">Mover</button>
    @Html.ActionLink("Reiniciar", "Index", "Home", null, new { @class = "btn btn-warning" })
</p>
@if (Model != null)
{
    <div id='ambiente'>
        @{ Html.RenderPartial("RenderEntidades", Model); }
    </div>
}

<script>
    $(document).ready(function () {
        $("#mover").on("click", function () {
            $.ajax({
                url: "/Ambiente/Mover",
                type: "POST"
            })
            .done(function (partialViewResult) {
                $("#ambiente").html(partialViewResult);
            });
        });
    });
</script>