@model secret_adventure.Models.Entidade[,]
@{
    ViewBag.Title = "Mover";
}

<h2>Mover</h2>
@if (Model != null)
{
    <table border="1" class="table">
        @for (int linha = 0; linha < Model.GetLength(0); linha++)
        {
            <tr>
                @for (int coluna = 0; coluna < Model.GetLength(1); coluna++)
                {
                    if (Model[linha, coluna] != null)
                    {
                        <td>@Model[linha, coluna].TipoEntidade.ToString()</td>
                    }
                    else
                    {
                        <td>[@linha,@coluna]</td>
                    }
                }
            </tr>
        }
    </table>
}
@Html.ActionLink("Mover", "Mover")